

/* ==========================================================================
   Author's custom styles 
   ========================================================================== */

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 3px solid #DA3637;
}

form {
  outline-color: #f28496;
  outline-style: solid;
  padding: 15px;
  margin-top: 15px;
}
.form-horizontal{
  text-align: center;
}

.form-control{
  border: 1px solid #f28496; 
}

textarea{
  resize: none;
  min-height: 300px;
}

  .navbar{
      background-color: #f28496;
  }

.navbar-brand{
  color: white;
}

ul li a{
  color: white;
}


footer{
  text-align: center;
  background-color: #f28496;
}
footer p {
  color: white;
  font-size: 18px;
  padding: 10px;
}





