

/* ==========================================================================
   Author's custom styles 
   ========================================================================== */

.about{
  color: #f28496;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 3px solid #DA3637;
}
input.ng-valid.ng-touched, select.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
  border: 2px solid #509D12;
}
/*.ng-invalid .btn {
  background: gray;
}*/
.error{
  color: red;
  padding-top: 5px;
}

form {
  outline-color: #f28496;
  outline-style: solid;
  padding: 15px;
  margin-top: 15px;
}
.form-horizontal{
  text-align: center;
}

.form-control{
  border: 1px solid #f28496; 
}

textarea{
  resize: none;
  min-height: 300px;
}

  .navbar{
      background-color: #f28496;
  }

.navbar-brand{
  color: white;
}

ul li a{
  color: white;
}


footer{
  text-align: center;
  background-color: #f28496;
}
footer p {
  color: white;
  font-size: 18px;
  padding: 10px;
}





