<form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="Name">Name:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="Name" placeholder="your name" required ng-model="person.name">
                </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="email">e-Mail:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="email" id="Email" placeholder="your email" required ng-model="person.email">
                </div>
              </div>

            <div class="form-group">            
              <label class="col-sm-3 control-label" for="contact">Contact no:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" id="contact" placeholder="you phone number" required  ng-model="person.contact">
                </div>
            </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="gender">Gender:</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="gender" ng-model="person.gender" required>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="bday">Date of Birth:</label>
                  <div class="col-sm-9">
                    <input class="form-control" type="date" id="bday" ng-model="person.dob">
                  </div>
              </div>


              <div class="form-group">                
                <label class="col-sm-3 control-label" for="comments">Comments:</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="4" cols="70" maxlength="100" placeholder="your comments" ng-model="person.comment"></textarea>
                  </div>
              </div>


              <div class="form-group">
                <input class="btn btn-success" type="submit" value="Submit" ng-click="postForm(person)" ng-if="!editing">
                <input class="btn btn-success" type="submit" value="Update" ng-click="" ng-if="editing">
                <input class="btn btn-warning" type="reset">
              </div>
          </form>

          <br/>

          <p>
            <pre> {{person | json}}</pre>
          </p>